
<!doctype html>
<html><head>
  </head>
  <body>
  
<br>

<script>
$(document).ready(function(){
  $("input").keydown(function(){
    $("input").css("background-color","yellow");
  });
  $("input").keyup(function(){
    $("input").css("background-color","grey");
  });
});


$(function() {
  $("#search-form input").keyup(function() {
    $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
    return false;
  });
});
</script>
  

    <div class="container">

        <div class="col-sm-12">

            <h1>Listing items</h1>
	
        
	<div class="form-group">	
             <%= form_tag(items_path,layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" ,:method => "get", id: "search-form") do %>
  	       <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
                    
              <%= submit_tag "Search", :name => nil %>
	<% end %>
     </div>
	

<div id="items"> <%= render 'items' %> </div>        
</div>

<div class="col-sm-3 col-lg-3">
          <hr>
		<script src="http://brangerbriz.net/labs/threejs_playGnd/js/three.min.js"></script>
		<script src="http://brangerbriz.net/labs/threejs_playGnd/js/Detector.js"></script>
		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
			
			var camera, scene, renderer;
			var geometry, material, mesh;

			function setup() {

				var W = window.innerWidth, H = window.innerHeight;
				renderer = new THREE.WebGLRenderer();
				renderer.setSize( W, H );
				document.body.appendChild( renderer.domElement );

				camera = new THREE.PerspectiveCamera( 50, W/H, 1, 10000 );
				camera.position.z = 500;

				scene = new THREE.Scene();
				
				geometry = new THREE.TorusKnotGeometry(30, 19, 74, 8, 4, 3, 1);
material = new THREE.MeshNormalMaterial({shading: THREE.FlatShading});
mesh = new THREE.Mesh(geometry, material);
scene.add(mesh);

			}

			function draw() {

				requestAnimationFrame( draw );
				
					mesh.rotation.x = Date.now() * 0.0005;	
				mesh.rotation.y = Date.now() * 0.0002;	
				mesh.rotation.z = Date.now() * 0.001;

				renderer.render( scene, camera );

			}

			setup();
			draw();

		</script>
		
</div>
    

    </html>
